body{
    background-color: #f9eae1;
    font-family: 'Kanit', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
} 

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 105px 105px 105px 105px 70px;
    gap: 5px;
    width: 600px;
    text-align: center;
}

.contenedor .numero{
    font-size: 30px;
    background-color: #7d4f50;
    color: white;
}

.contenedor .numero:hover{
    background-color: gray;
    cursor: pointer;
}

.contenedor .operacion{
    font-size: 30px;
    background-color: #d1be9c;
    color: white;
}

.contenedor .operacion:hover{
    background-color: gray;
    cursor: pointer;
}
.contenedor .pantalla{
    grid-column: 1/5;
    background-color: white;
    color:black;
    overflow: scroll;
    font-size: 30px;
}
.contenedor .borrar{
    background-color: #cc8b86;
    font-size: 30px;
    grid-column: 1/5;
}

.contenedor .borrar:hover{
    background-color: gray;
    cursor: pointer;
}